.navbar-container {
  top: 0;
  position: sticky;
  z-index: 5;
}
.navbar-container .fa-bars {
  font-size: 35px;
  color: #fff;
}
.navbar {
  /* background-color: #0a0d25; */
  background-image: linear-gradient(90deg, #0a0d25, #080c20);
  height: 70px;
  padding: 0 200px !important;
}
.nav-logo p {
  font-size: 1.4em;
  color: #fff;
  transition: 0.4s ease;
  color: rgb(52, 152, 219);
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  font-family: "Sacramento", cursive;
}
.navbar-nav {
  float: right;
  text-align: right;
}
.nav-link {
  color: #fff;
  transition: 0.4s;
}
.nav-link:hover {
  transform: scale(1.1);
  color: #3498db;
}
