/* Laptop screen 15,6 inches */

@media (max-width: 1537px) {
  .navbar {
    padding: 0 150px !important;
  }
}

/* Tablet screen */

@media (max-width: 992px) {
  .responsive-row {
    border: 2px solid #f00;
  }
}

/* Mobile Phone */

@media (max-width: 1008px) {
  body {
    padding: 0;
  }
  .user-box h1 {
    font-size: 2em;
    letter-spacing: 2px;
  }
  .user-box p {
    font-size: 24px;
  }
  .user-box img {
    margin-bottom: 20px;
  }
  .navbar {
    padding: 0 10px !important;
    height: auto;
  }
  .about-container {
    padding-top: 35px;
    padding-bottom: 0;
  }
  .about-container p {
    text-align: center;
  }
  .about-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-info p br {
    display: none;
  }
  .social-buttons a {
    height: 50px;
    width: 50px;
  }
  .resume {
    margin-top: 50px;
  }
  .other {
    margin: 50px auto;
    text-align: center;
    margin-left: 0 !important;
    padding: 0 10px;
  }
  .contact p {
    font-weight: 400;
  }
  .music,
  .separator {
    display: none;
  }
  .skills-languages img {
    height: 60px;
  }
  .resume {
    padding-top: 0 !important;
  }
  .timeline li h4 {
    height: 40px !important;
    font-size: 0.75rem;
    padding-left: 10px !important;
  }
  .timeline li {
    margin-left: 0 !important;
  }
  .timeline {
    margin: 0 auto !important;
    padding-left: 10px !important;
  }
  .timeline:before {
    left: 10px !important;
    display: none !important;
  }
  .timeline li:before {
    display: none !important;
  }
  .services-box {
    margin-right: 0 !important;
  }
  .footer-social-container .social-buttons a {
    width: 40px;
  }
  .projects-wrapper {
    padding: 50px 10px !important;
  }
  .projects-wrapper h1 {
    padding-bottom: 50px !important;
    font-size: 2rem;
  }
}

@media (min-width: 376px) {
  .social-buttons a {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 375px) {
  .social-container {
    display: none;
  }
}
