@media (max-width: 395px) {
  .about-container .col-md-6 p {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 995px) {
  body {
    padding: 0;
  }
  .container.gallery-container {
    border-radius: 0;
  }
  .about-container {
    padding-top: 35px;
    padding-bottom: 0;
  }
  .user-box h1 {
    font-size: 2em;
    letter-spacing: 2px;
  }
  .user-box p {
    font-size: 24px;
  }

  .user-box img {
    margin-bottom: 20px;
  }
  .profile-img {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
  .about-container .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-container {
    max-width: auto;
  }
  .social-buttons a {
    height: 50px;
    width: 50px;
  }
  .resume {
    margin-top: 50px;
  }
  .about-container p {
    text-align: center;
  }
  .about-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-container ul {
    text-align: center;
    list-style-type: none;
    margin-bottom: 40px;
  }
  .other {
    margin: 50px auto;
    text-align: center;
  }
  .services {
    margin-top: 5px;
  }
  .services p {
    font-size: 17px;
  }
  .services h1 {
    margin-bottom: 50px;
  }
  .contact p {
    font-weight: 400;
  }
  .skills-bar {
    margin-bottom: 30px;
  }
  .skills-bar h3 {
    margin: 30px 0;
  }
  .navbar {
    height: auto;
  }
  .tz-gallery {
    display: flex;
    justify-content: center;
  }
  .tz-gallery img {
    margin: 0 !important;
  }
  .tz-gallery .row {
    margin: auto;
    text-align: center;
  }
  .resume-load h1 {
    font-size: 22px;
    margin: 0 auto;
  }
  .resume-load {
    min-width: 400px;
    margin: 50px auto;
  }
}
@media (min-width: 376px) {
  .social-buttons a {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 375px) {
  .social-container {
    display: none;
  }
}
