.services-container {
  padding: 50px 0;
}
.services-container h1 {
  margin-bottom: 15px;
}
.services-container p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.services-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 15px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  min-height: 175px;
  transition: 0.7s ease-in-out all;
}
.services-box:hover {
  background-color: #0a0d25;
  background-image: linear-gradient(45deg, #0a0d25, #0a0d252f);
  color: #fff;
  cursor: pointer;
}
.services-box a {
  transition: 0.4s all;
}
.services-box a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.services-box .fa {
  margin: 0px 10px;
  font-size: 20px;
}
.services-box span {
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
}
.services-box p {
  font-size: 15px;
  margin-top: 20px;
  color: #777;
  transition: 0.7s color;
}
.services-box p:hover {
  color: #fff;
}
.services-container .row {
  display: flex;
  justify-content: center;
}
