* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.separator {
  width: 70%;
  opacity: 0.5;
}

.footer {
  background: #000;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer p {
  font-size: 12px;
  margin: 0;
}
