* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.separator {
  width: 70%;
  opacity: 0.5;
}

.footer {
  background: #000;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer p {
  font-size: 12px;
  margin: 0;
}

.container.gallery-container {
  color: #000;
  min-height: 100vh;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 70%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.tz-gallery img {
  border-radius: 4px;
}
.tz-gallery .items a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}
.tz-gallery .items img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.margin-top {
  margin-top: 80px;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.test {
  flex-direction: row;
}
.test2 {
  margin: 20px;
}
.test img {
  width: 500px;
}
